.App {
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 'primary title secondary';
    padding: 0.2rem 1rem;
    justify-items: center;
    min-height: 5rem;
    top: 0;
    box-shadow: 0 2px rgb(var(--venia-global-color-gray-100));
}

.header-title {
    font-size: 1.2rem;
    grid-area: 'title';
    text-align: center;
    margin-top: auto;
}
.header-actions-left {
    display: grid;
    grid-area: 'secondary';
    max-width: max-content;
    align-items: center;
    justify-items: end;
    grid-auto-flow: column;
    justify-self: end;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
